# Ignore the archive folder and all its contents
archive/
archive/*

# Ignore input PDF files
input_lvv/
input_lvv/*.pdf

# Python-related files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/

# Editor and OS files
.idea/
.vscode/
*.swp
.DS_Store
